.fancybox-margin{margin-right:17px;}

@media screen and (min-width: 768px){
.modal-dialog-edit{
    width: 545px;
    margin: 30px auto;
}
}

input[type=checkbox].w3-check, input[type=radio].w3-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
.w3-check {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
input[type=checkbox].w3-check:checked+.w3-validate {
    color: #F86C1B;
}


.testimonial
{
margin: 0;
background: #B7EDFF;
padding: 10px 50px;
position: relative;
font-family: Georgia, serif;
color: #666;
border-radius: 5px;
font-style: italic;
text-shadow: 0 1px 0 #ECFBFF;
background-image: linear-gradient(#CEF3FF, #B7EDFF);
}
.testimonial:before, .testimonial:after
{
content: "\201C";
position: absolute;
font-size: 80px;
line-height: 1;
color: #999;
font-style: normal;
}
.testimonial:before
{
top: 0;
left: 10px;
}
.testimonial:after
{
content: "\201D";
right: 10px;
bottom: -0.5em;
}
.arrow-down
{
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #B7EDFF;
margin: 0 0 0 25px;
}
.testimonial-author
{
margin: 0 0 0 25px;
font-family: Arial, Helvetica, sans-serif;
color: #999;
text-align:left;
}
.testimonial-author span
{
font-size: 12px;
color: #666;
}

#customers th {
padding-top: 11px;
padding-bottom: 11px;
background-color: #4CAF50;
color: white;
}
#customers td, #customers th {
border: 1px solid #ddd;
text-align: left;
padding: 8px;
}
#customers tr:nth-child(even) {background-color: #f2f2f2
}

@keyframes glowing {
  0% { background-color: #095291; box-shadow: 0 0 3px #095291; }
   50% { background-color: #127cf4; box-shadow: 0 0 40px #127cf4; }
   100% { background-color: #095291; box-shadow: 0 0 3px #095291; }
}

.glowbutton{
  background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1500ms infinite;
}

.divider {
    width: auto;
    height: 0px;
    border-top: 1px solid #969696;
    border-bottom: 1px solid #fff;
    margin: 15px 0;
}

.content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    margin-left: -14px;
    margin-top: -30px;
    height: 56px;
    width: 103%;
}

h5 , .header__title {
margin-bottom: 0;
font-family: inherit;
font-weight: 600;
line-height: 1.5;
color: inherit;
font-size:2.5rem;
}




.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}


.danger-box {
    color:#f44336;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.danger-box span {
    font-weight:bold;
    color:#e11a0c;
    text-transform:uppercase;
}

.danger  {
    background:#fdd9d6 url('../../img/alert.png') no-repeat 10px 50%;
    border:1px solid #f44336;
}


.success-box {
    color:#4caf50;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.success-box span {
    font-weight:bold;
    color:#357a38;
    text-transform:uppercase;
}

.success {
    background:#dbefdc url('../../img/success.png') no-repeat 10px 50%;
    border:1px solid #4caf50 ;
}

.notice-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.notice-box span {
    font-weight:bold;
    color:#555;
    text-transform:uppercase;
}
.notice {
    background:#fff8e1 url('../../img/notice.png') no-repeat 10px 50%;
    border:1px solid #4285f4;
}



.warning-box {
    color:#ff6f00;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.warning-box span {
    font-weight:bold;
    color:#ff6f00;
    text-transform:uppercase;
}

.warning {
    background:#fff8e1 url('../../img/warning.png') no-repeat 10px 50%;
    border:1px solid #ffe082;
}
